%h2
  New <%= singular_name %>

- form_for(@<%= singular_name %>) do |f|
  = f.error_messages %>
  
  = render 'form', :f => f
  
  %p
    f.submit 'Create'

%ul
  %li
    = link_to 'Back', <%= plural_name %>_path